/* Domaines de magie */
.container-sous-domaines, .container-domaine { margin: 2em auto; text-align: center;  }
.container-sous-domaines label, .container-domaine label { font-weight: bold; }

/* Caractéristiques principales */
#carac-principales { display: flex; flex-wrap: wrap; justify-content: space-around; align-items: flex-end; width: 60%; margin: 2em auto; }
#carac-principales p { flex: 1 1 30%; text-align: center; margin: 0.5em 0; }  
#carac-principales label { display: inline-block; width: 3em; font-weight: bold; }
#carac-principales input { width: 2.5em; padding-left: 1ex; }

/* Compétences */
.form-competences table { margin-left: auto; margin-right: auto; width: 100%; text-align: center; }
@media (min-width: 1025px) { 
  .form-competences table { width: 80%; }
}
.form-competences tr th input { width: 3.5em; padding-left: 1ex; margin-top: 3px;}
.form-competences tr * { padding-left: 0; padding-right: 0; }
.form-competences tr th.t_small,
.form-competences tr td { width: 10%; }
.form-competences tr th { width: 30%; }
.form-competences tr td.t_colspan { width: 50%; font-size: small; font-style: italic; padding-top: 1em; }
.form-competences tr td { font-size: large; }
.form-competences span.t_score { font-size: small; font-style: italic; color: #888; }
.form-competences .t_res { font-size: large; padding-top: 1ex; }

/* Manoeuvres */
#form-manoeuvres > div { background: #eadaca url("parchment.jpg") repeat; padding: 10px; border: 1px solid #5f1e01; border-radius: 10px; }
#form-manoeuvres input { width: 2.5em; padding-left: 1ex; }