/* 
 * CSS pour Lyrium 
 * (largement inspiré du livre CSS3 Flexbox, plongez dans les CSS modernes 
 * de Raphaël Goetter, grand merci à lui !)
 */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab');
@font-face{ 
  font-family: 'Fertigo';
  src: url('Fertigo.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}





/* Mise en forme principale en 2 colonnes, affichage responsive */
body { min-height: 100vh; display: flex; flex-direction: column; margin: 1px 10px; }
main { display: flex; flex: 1 1 auto; }
main > *+* { margin-left: 20px; }
aside { width: 25%; }
.content { flex: 1; }
nav a { display: block; padding: .4em .7em; }
aside nav a { padding: 0 .7em; }

@media (max-width: 768px) { 
  main { flex-direction: column; } 
  aside { width: auto; }
  .content { flex-basis: auto; }
  main > *+* { margin-left: inherit; }
}
@media (min-width: 1281px) { body { margin-left: 10%; margin-right: 10% } }
@media (min-width: 1601px) { body { margin-left: 20%; margin-right: 20% } }
@media (min-width: 769px) { .ariane { display: none; } }


/* Couleurs (de fond, de police et de bordures) */
/* Attention, les couleurs liées au titre principal dans l'ovale stylisé sont définies là-bas */
body { background: #eadaca; color: #000; }
a { text-decoration: none; color: #5f1e01; }
a:hover, a:focus, a:active { color: #9e5f10; }
aside { background: #eadaca url("parchment.jpg") repeat; padding: 10px; border: 1px solid #5f1e01; border-radius: 10px; }
footer { border-top: 1px solid #5f1e01; margin-top: 10px; }
body > header > nav a:hover,
body > header > nav a:focus,
body > header > nav a:active { background-size: 100% 3px; outline: 0; color: #9e5f10; }
aside > nav a:hover,
aside > nav a:focus,
aside > nav a:active { background-size: 3px 100%; outline: 0; color: #9e5f10; }
h2, h3 { color: #5f1e01; }
h3::before, 
h3::after { background: #5f1e01 no-repeat center bottom; }
h3::after { background-image: linear-gradient(to right, #5f1e01, #c8880c); }
h4 { color: #9e5f10; }
h4::before, 
h4::after { background: #9e5f10 no-repeat center bottom; }
h4::after { background-image: linear-gradient(to right, #9e5f10, #eadaca); }
p.desc { color: #5f1e01; }
p.opt { color: #555; }
li.stroke { color: #777; text-decoration: line-through; }
table { border: 2px solid #5f1e01; background: #eadaca url("parchment.jpg") repeat; } 
tr > th { border: 1px solid #9e5f10; background-color: rgba(158,95,16,0.1); }
tr > td { border: 1px solid #9e5f10; }


/* Polices spéciales, reset de tailles de police, graisse */
body { font-family: 'Roboto', sans-serif; font-size: medium; }
.no-reduction { font-size: small; }
h1, h2, h3, h4, .skills article h5 { font-family: 'Fertigo', sans-serif; }
nav a { font-family: 'Roboto Condensed', sans-serif; /*font-size: medium;*/ }
header > nav a { font-weight: bold; }
h1, h2 { font-size: x-large; }
h3, h4 { font-size: large; }
h5 { font-size: inherit; margin-bottom: 0; }
@media (min-width: 1024px) { article:not(h3), article:not(h4), dl.boxed { font-size: small; } }
@media (max-width: 768px) { .t_smallfont { font-size: inherit; } }
.content > header p { font-style: italic; font-size: 90%; }
b { font-weight: bolder; }
.notice, strong { font-family: 'Roboto Condensed', sans-serif; font-weight: bold; }
aside p.eg { font-size: x-small; }







/* Barre de navigation principale : responsive (3 états) */
/* Etat 1 : s'affiche sous forme de liste pour les smartphones */
body > header > nav > a { 
  background-image: linear-gradient(to right, currentColor, currentColor); 
  background-repeat: no-repeat; background-size: 100% 1px; background-position: center bottom; 
  transition: background-size .25;
}

/* Etats 2 et 3 : affichage du titre abbrégé dans un ovale stylisé */
@media (min-width: 481px) {
  body > header > nav h1 span { position: absolute; clip: rect(0,0,0,0); }
  body > header > nav h1 a::before {
    content: attr(attr-abbr);
    display: inline-block;
    width: 9rem;
    height: 4rem;
    border: 1px solid #5f1e01;
    border-radius: 50%;
    background: #eadaca url("parchment.jpg") repeat;
    text-align: center;
    line-height: 4rem;
    font-family: 'Fertigo', 'Roboto', sans-serif;
    font-size: x-large;
  }
}

/* Etat 2 : s'affiche sous forme de tableau avec 2 liens par ligne pour les petits écrans et les tablettes */
@media (min-width: 481px) and (max-width: 1025px) {
  body > header { display: flex; justify-content: center; align-items: center; margin-bottom: 10px; }
  body > header > nav { display: flex; flex-wrap: wrap; }
  body > header > nav h1 { width: 100%; text-align: center; }
  body > header > nav > a { width: 50%; text-align: center; padding: .4em 0; }
}

/* Etat 3 : s'affiche sur une seule ligne pour les écrans larges */
@media (min-width: 1025px) {
  body > header > nav { display: flex; justify-content: center; align-items: center; }
  body > header > nav a:nth-of-type(-n+4) { order: -1; }
}






/* Articles et miniatures : responsive */
/* Nécessitent d'être contenus dans une div "container" */

/* Miniatures */
.container-miniature { display: flex; flex: 1 1 auto; margin: 0 auto; flex-wrap: wrap; }
.container-miniature > *+* { margin-left: 10px; }
.miniature { flex: 1; text-align: center; }

/* Articles */
.container { display: flex; flex: 1 1 auto; flex-wrap: wrap; align-items: stretch; justify-content: space-between; margin-top: -1em; }
.container > article { flex: 0 1 48%; }
.container.triple > article { flex: 0 1 30%; }
@media (max-width: 1025px) { .container > article { flex: 1 0 100%; } }






/* Quelques mises en forme qui restent, par ordre alphabétique */

.ariane { font-size: smaller; font-weight: bold; margin-bottom: 30px; }

aside > nav > a { 
  background-image: linear-gradient(to right, currentColor, currentColor); 
  background-repeat: no-repeat; background-size: 1px 80%; background-position: left center; 
  transition: background-size .25; 
}
aside h2 { text-align: center; }
aside p.eg { margin-top: 0; }

.centered { text-align: center; }

.content h3 { margin-top: 4em; }
h3, h4 { display: flex; }
h3::before, h3::after,
h4::before, h4::after { display: block; content: ""; align-self: center; height: 2px; }
h3::before, 
h4::before { flex: 0; flex-basis: 40px; margin-right: 5px; }
h3::after, 
h4::after { flex: 1; margin-left: 5px; }

.hidden { display: none; }

ol > li { margin-bottom: 1em; }
ol > li:last-child { margin-bottom: initial; }

p.eg { font-style: italic; font-size: small; }
p.desc { font-style: italic; margin-left: 40px; margin-right: 40px; font-family: 'Roboto Slab', serif; font-size: 90%; }
p.desc .source::before { content: "\2013  "; }
p.NdA { margin-left: 30px; }
p.opt { font-size: small; }
.boxed { border: 1px solid currentColor; padding: 5px; }






/* Formatage de tableaux et de listes de définitions */
dl dd { margin-left: 0; margin-bottom: 1em; }
dl dt { font-weight: bold; }
dl > div { display: flex; flex-wrap: nowrap; margin-bottom: 1ex; justify-content: flex-start; width: 100%;  }
dl > div dd { flex: 1; margin-bottom: 0; }
dl > div dt { flex: 0 1 none; margin-right: 3pt; }
dl > div dd::before { content: "\2013  "; }

table { border-collapse: collapse; width: 100%; }
table.t_50, table.t_75 { margin-right: auto; width: 100%; }
@media (min-width: 481px) and (max-width: 1025px) { table.t_50 { width: 80%; } }
@media (min-width: 1026px) { 
  table.t_50 { width: 50%; } 
  table.t_75 { width: 75%; }
}
tr > * { padding: 2px 4px; }
table > caption { caption-side: bottom; }

.t_domaine_mode_medium tr * { width: 25%; }
.t_domaine_mode_medium tr td:first-child,
.t_domaine_mode_medium tr th:first-child { width: 50%; }
.t_aliments tr * { width: 30%; }
.t_aliments tr td:last-child,
.t_aliments tr th:last-child { width: 40%; }
.t_consommables tr * { width: 40%; }
.t_consommables tr td:nth-child(2),
.t_consommables tr th:nth-child(2) { width: 20%; }
.t_objets tr * { width: 15%; }
.t_objets tr td:first-child, .t_objets tr td:last-child,
.t_objets tr th:first-child, .t_objets tr th:last-child { width: 35%; }
.t_it1 tr * { width: 10%; text-align: center; }
.t_it1 tr th:first-child { width: 20%; }




/* Formatage des cartes de sorts */
/* TODO : responsive ! */
.skills { display: flex; flex-wrap: wrap; justify-content: space-around; margin-top: -6px; margin-bottom: -6px;}
.skills article { flex: 0 0 14em; border: 1px solid #5f1e01; border-radius: 5px; padding: 3px; min-height: 250px; display: flex; flex-direction: column; margin: 6px 1px; }
.skills article div { flex: 1 1 auto; }
.skills article > header, .skills article > footer { border: 1px solid #5f1e01; border-radius: 5px; padding: 2px; }
.skills article > header { margin: 0 0 5px 0; }
.skills article > footer { margin: 5px 0 0 0; }
.skills article p { margin: 0; padding: 2px 0; }
.skills article h5 { margin-top: 0; font-size: larger; text-align: center;}